python-dotenv # For potentially loading .env files if you choose to use them
selenium
webdriver-manager
polars
requests
openpyxl
browsermob-proxy
ipython
boto3
deltalake
s3fs
openai
tqdm
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
xlsxwriter